<h1>Listing footnotes</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Index</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @footnotes.each do |footnote| %>
  <tr>
    <td><%= footnote.body %></td>
    <td><%= footnote.index %></td>
    <td><%= link_to 'Show', footnote %></td>
    <td><%= link_to 'Edit', edit_footnote_path(footnote) %></td>
    <td><%= link_to 'Destroy', footnote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Footnote', new_footnote_path %>
